<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="homepage__destination-container">
      <div class="homepage__destination-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/homepage/asset/desbg.jpg" alt="" />

            <div class="overlay"></div>
            <div class="main-content">
              <img src="/homepage/asset/destination.svg" alt="" />
              <span>Hà Giang</span>
              <span>Amazing Place for Motorbike Touring in North Vietnam</span>
            </div>

            <div class="sub-content">
              <div class="sub-content-top">
                <img src="/homepage/asset/destnationActive.svg" alt="" />
                <span>Hà Giang</span>
                <p>
                  Blown away by our Tanzania safari, I never expected it to be
                  that good — it totally exceeded my expectations and was all
                  hassle free. Our guide was absolutely amazing too. Have
                  re-booked and cannot wait for next year!
                </p>
              </div>

              <a href="/">VIEW ALL TOUR</a>
            </div>
          </div>

          <div class="swiper-slide">
            <img src="/homepage/asset/desbg.jpg" alt="" />

            <div class="overlay"></div>
            <div class="main-content">
              <img src="/homepage/asset/destination.svg" alt="" />
              <span>Hà Giang</span>
              <span>Amazing Place for Motorbike Touring in North Vietnam</span>
            </div>

            <div class="sub-content">
              <div class="sub-content-top">
                <img src="/homepage/asset/destnationActive.svg" alt="" />
                <span>Hà Giang</span>
                <p>
                  Blown away by our Tanzania safari, I never expected it to be
                  that good — it totally exceeded my expectations and was all
                  hassle free. Our guide was absolutely amazing too. Have
                  re-booked and cannot wait for next year!
                </p>
              </div>

              <a href="/">VIEW ALL TOUR</a>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="/homepage/asset/desbg.jpg" alt="" />

            <div class="overlay"></div>
            <div class="main-content">
              <img src="/homepage/asset/destination.svg" alt="" />
              <span>Hà Giang</span>
              <span>Amazing Place for Motorbike Touring in North Vietnam</span>
            </div>

            <div class="sub-content">
              <div class="sub-content-top">
                <img src="/homepage/asset/destnationActive.svg" alt="" />
                <span>Hà Giang</span>
                <p>
                  Blown away by our Tanzania safari, I never expected it to be
                  that good — it totally exceeded my expectations and was all
                  hassle free. Our guide was absolutely amazing too. Have
                  re-booked and cannot wait for next year!
                </p>
              </div>

              <a href="/">VIEW ALL TOUR</a>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="/homepage/asset/desbg.jpg" alt="" />

            <div class="overlay"></div>
            <div class="main-content">
              <img src="/homepage/asset/destination.svg" alt="" />
              <span>Hà Giang</span>
              <span>Amazing Place for Motorbike Touring in North Vietnam</span>
            </div>

            <div class="sub-content">
              <div class="sub-content-top">
                <img src="/homepage/asset/destnationActive.svg" alt="" />
                <span>Hà Giang</span>
                <p>
                  Blown away by our Tanzania safari, I never expected it to be
                  that good — it totally exceeded my expectations and was all
                  hassle free. Our guide was absolutely amazing too. Have
                  re-booked and cannot wait for next year!
                </p>
              </div>

              <a href="/">VIEW ALL TOUR</a>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="/homepage/asset/desbg.jpg" alt="" />

            <div class="overlay"></div>
            <div class="main-content">
              <img src="/homepage/asset/destination.svg" alt="" />
              <span>Hà Giang</span>
              <span>Amazing Place for Motorbike Touring in North Vietnam</span>
            </div>

            <div class="sub-content">
              <div class="sub-content-top">
                <img src="/homepage/asset/destnationActive.svg" alt="" />
                <span>Hà Giang</span>
                <p>
                  Blown away by our Tanzania safari, I never expected it to be
                  that good — it totally exceeded my expectations and was all
                  hassle free. Our guide was absolutely amazing too. Have
                  re-booked and cannot wait for next year!
                </p>
              </div>

              <a href="/">VIEW ALL TOUR</a>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="/homepage/asset/desbg.jpg" alt="" />

            <div class="overlay"></div>
            <div class="main-content">
              <img src="/homepage/asset/destination.svg" alt="" />
              <span>Hà Giang</span>
              <span>Amazing Place for Motorbike Touring in North Vietnam</span>
            </div>

            <div class="sub-content">
              <div class="sub-content-top">
                <img src="/homepage/asset/destnationActive.svg" alt="" />
                <span>Hà Giang</span>
                <p>
                  Blown away by our Tanzania safari, I never expected it to be
                  that good — it totally exceeded my expectations and was all
                  hassle free. Our guide was absolutely amazing too. Have
                  re-booked and cannot wait for next year!
                </p>
              </div>

              <a href="/">VIEW ALL TOUR</a>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="/homepage/asset/desbg.jpg" alt="" />

            <div class="overlay"></div>
            <div class="main-content">
              <img src="/homepage/asset/destination.svg" alt="" />
              <span>Hà Giang</span>
              <span>Amazing Place for Motorbike Touring in North Vietnam</span>
            </div>

            <div class="sub-content">
              <div class="sub-content-top">
                <img src="/homepage/asset/destnationActive.svg" alt="" />
                <span>Hà Giang</span>
                <p>
                  Blown away by our Tanzania safari, I never expected it to be
                  that good — it totally exceeded my expectations and was all
                  hassle free. Our guide was absolutely amazing too. Have
                  re-booked and cannot wait for next year!
                </p>
              </div>

              <a href="/">VIEW ALL TOUR</a>
            </div>
          </div>
        </div>
        <div class="homepage__destination-pagination"></div>
      </div>

      <div class="homepage__destination-prev homepage__destination-btn">
        <img src="/homepage/asset/prev.svg" alt="" />
      </div>
      <div class="homepage__destination-next homepage__destination-btn">
        <img src="/homepage/asset/next.svg" alt="" />
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      let destinationSwiper = new Swiper(".homepage__destination-swiper", {
        slidesPerView: "auto",
        spaceBetween: 0,
        navigation: {
          nextEl: ".homepage__destination-next",
          prevEl: ".homepage__destination-prev",
        },
        pagination: {
          el: ".homepage__destination-pagination",
          clickable: true,
        },
        breakpoints: {
          768: {
            slidesPerView: "auto",
            spaceBetween: 0,
          },
          1025: {
            slidesPerView: 4,
            spaceBetween: (window.innerWidth / 100) * 2,
          },
        },
      });
    </script>
  </body>
</html>
