<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body>
    <div class="homepage__tour-container">
      <!--start category -->
      <div class="homepage__tour-cates">
        <div class="homepage__tour-cates-container">
          <!-- item -->
          <div class="homepage__tour-cateItem">
            <img src="/homepage/asset/moto.svg" alt="" />
            <span>Motorbike Tour</span>
          </div>
          <!-- item -->
          <div class="homepage__tour-cateItem">
            <img src="/homepage/asset/cruise.svg" alt="" />
            <span>Cruise Tour</span>
          </div>

          <!-- item -->
          <div class="homepage__tour-cateItem">
            <img src="/homepage/asset/treking.svg" alt="" />
            <span>Trekking Tour</span>
          </div>

          <!-- item -->
          <div class="homepage__tour-cateItem">
            <img src="/homepage/asset/jeep.svg" alt="" />
            <span>Jeep Tour</span>
          </div>

          <!-- item -->
          <div class="homepage__tour-cateItem">
            <img src="/homepage/asset/walking.svg" alt="" />
            <span> Walking Tour</span>
          </div>

          <!-- item -->
          <div class="homepage__tour-cateItem">
            <img src="/homepage/asset/cave.svg" alt="" />
            <span> Cave Tour</span>
          </div>

          <!-- item -->
          <div class="homepage__tour-cateItem">
            <span> SEE ALL</span>
          </div>
        </div>
      </div>
      <!--end category -->

      <!--start slide -->
      <div class="homepage__tourSlide-container">
        <div class="homepage__tourSlide-swiper">
          <div class="swiper-wrapper">
            <!-- slide item -->
            <div class="swiper-slide">
              <img src="/homepage/asset/vintageBg.jpg" alt="" class="overlay" />
              <div class="tour-content">
                <div class="swiper-slide-img">
                  <img src="/homepage/asset/bgTest.jpg" alt="" />
                </div>

                <div class="tour-title">
                  Sapa Trekking Tour Sleeping in Homestay (2D3N)
                </div>

                <img
                  src="/homepage/asset/dashLine.svg"
                  alt=""
                  class="dashLine"
                />

                <div class="tour-info">
                  <div class="tour-info-item">
                    <img src="/homepage/asset/duration.svg" alt="" />
                    <span>Duration:</span>
                    <span>3 days / 3 nights</span>
                  </div>
                  <div class="tour-info-item">
                    <img src="/homepage/asset/size.svg" alt="" />
                    <span>Group size:</span>
                    <span>7-9pax</span>
                  </div>
                  <div class="tour-info-item">
                    <img src="/homepage/asset/tourHighlight.svg" alt="" />
                    <span>Highlight:</span>
                    <span>Motorbike with Local easy rider</span>
                  </div>
                </div>
                <img
                  src="/homepage/asset/dashLine.svg"
                  alt=""
                  class="dashLine"
                />
                <div class="tour-bottom-cont">
                  <div class="tour-prices">
                    <div class="actual-price">$199</div>
                    <div class="fake-price">$299</div>
                  </div>

                  <div class="tour-btn">BOOK NOW</div>
                </div>
              </div>
            </div>

            <!-- slide item -->
            <div class="swiper-slide">
              <img src="/homepage/asset/vintageBg.jpg" alt="" class="overlay" />
              <div class="tour-content">
                <div class="swiper-slide-img">
                  <img src="/homepage/asset/bgTest.jpg" alt="" />
                </div>

                <div class="tour-title">
                  Sapa Trekking Tour Sleeping in Homestay (2D3N)
                </div>

                <img
                  src="/homepage/asset/dashLine.svg"
                  alt=""
                  class="dashLine"
                />

                <div class="tour-info">
                  <div class="tour-info-item">
                    <img src="/homepage/asset/duration.svg" alt="" />
                    <span>Duration:</span>
                    <span>3 days / 3 nights</span>
                  </div>
                  <div class="tour-info-item">
                    <img src="/homepage/asset/size.svg" alt="" />
                    <span>Group size:</span>
                    <span>7-9pax</span>
                  </div>
                  <div class="tour-info-item">
                    <img src="/homepage/asset/tourHighlight.svg" alt="" />
                    <span>Highlight:</span>
                    <span>Motorbike with Local easy rider</span>
                  </div>
                </div>
                <img
                  src="/homepage/asset/dashLine.svg"
                  alt=""
                  class="dashLine"
                />
                <div class="tour-bottom-cont">
                  <div class="tour-prices">
                    <div class="actual-price">$199</div>
                    <div class="fake-price">$299</div>
                  </div>

                  <div class="tour-btn">BOOK NOW</div>
                </div>
              </div>
            </div>
            <!-- slide item -->
            <div class="swiper-slide">
              <img src="/homepage/asset/vintageBg.jpg" alt="" class="overlay" />
              <div class="tour-content">
                <div class="swiper-slide-img">
                  <img src="/homepage/asset/bgTest.jpg" alt="" />
                </div>

                <div class="tour-title">
                  Sapa Trekking Tour Sleeping in Homestay (2D3N)
                </div>

                <img
                  src="/homepage/asset/dashLine.svg"
                  alt=""
                  class="dashLine"
                />

                <div class="tour-info">
                  <div class="tour-info-item">
                    <img src="/homepage/asset/duration.svg" alt="" />
                    <span>Duration:</span>
                    <span>3 days / 3 nights</span>
                  </div>
                  <div class="tour-info-item">
                    <img src="/homepage/asset/size.svg" alt="" />
                    <span>Group size:</span>
                    <span>7-9pax</span>
                  </div>
                  <div class="tour-info-item">
                    <img src="/homepage/asset/tourHighlight.svg" alt="" />
                    <span>Highlight:</span>
                    <span>Motorbike with Local easy rider</span>
                  </div>
                </div>
                <img
                  src="/homepage/asset/dashLine.svg"
                  alt=""
                  class="dashLine"
                />
                <div class="tour-bottom-cont">
                  <div class="tour-prices">
                    <div class="actual-price">$199</div>
                    <div class="fake-price">$299</div>
                  </div>

                  <div class="tour-btn">BOOK NOW</div>
                </div>
              </div>
            </div>
            <!-- slide item -->
            <div class="swiper-slide">
              <img src="/homepage/asset/vintageBg.jpg" alt="" class="overlay" />
              <div class="tour-content">
                <div class="swiper-slide-img">
                  <img src="/homepage/asset/bgTest.jpg" alt="" />
                </div>

                <div class="tour-title">
                  Sapa Trekking Tour Sleeping in Homestay (2D3N)
                </div>

                <img
                  src="/homepage/asset/dashLine.svg"
                  alt=""
                  class="dashLine"
                />

                <div class="tour-info">
                  <div class="tour-info-item">
                    <img src="/homepage/asset/duration.svg" alt="" />
                    <span>Duration:</span>
                    <span>3 days / 3 nights</span>
                  </div>
                  <div class="tour-info-item">
                    <img src="/homepage/asset/size.svg" alt="" />
                    <span>Group size:</span>
                    <span>7-9pax</span>
                  </div>
                  <div class="tour-info-item">
                    <img src="/homepage/asset/tourHighlight.svg" alt="" />
                    <span>Highlight:</span>
                    <span>Motorbike with Local easy rider</span>
                  </div>
                </div>
                <img
                  src="/homepage/asset/dashLine.svg"
                  alt=""
                  class="dashLine"
                />
                <div class="tour-bottom-cont">
                  <div class="tour-prices">
                    <div class="actual-price">$199</div>
                    <div class="fake-price">$299</div>
                  </div>

                  <div class="tour-btn">BOOK NOW</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="homepage__tourSlide-pagination"></div>

        <div class="homepage__tourSlide-prev homepage__tourSlide-btn">
          <img src="/homepage/asset/prev.svg" alt="" />
        </div>
        <div class="homepage__tourSlide-next homepage__tourSlide-btn">
          <img src="/homepage/asset/next.svg" alt="" />
        </div>
      </div>
      <!--end slide -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
      let homepageTourSw = new Swiper(".homepage__tourSlide-swiper", {
        slidesPerView: 1.15,
        spaceBetween: (window.innerWidth / 100) * 3.75,
        navigation: {
          nextEl: ".homepage__tourSlide-next",
          prevEl: ".homepage__tourSlide-prev",
        },
        pagination: {
          el: ".homepage__tourSlide-pagination",
          clickable: true,
        },
        breakpoints: {
          768: {
            slidesPerView: 2.5,
            spaceBetween: (window.innerWidth / 100) * 2,
          },
          1025: {
            slidesPerView: 3,
            spaceBetween: (window.innerWidth / 100) * 1.5,
          },
        },
      });
    </script>
  </body>
</html>
