<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="cheers.css" />
  </head>
  <body>
    <section class="homepage__cheersRoom">
      <!-- start header -->
      <div class="homepage__cheersRoom-header">
        <h2 class="homepage__cheersRoom-title">CHEERs STAY</h2>
        <div class="homepage__cheersRoom-tabs">
          <div>Cheers Hostel Hanoi</div>
          <div>Du Gia Cheers</div>
          <div>SEE ALL</div>
        </div>
        <div class="homepage__cheersRoom-subTitle">
          we create Cheers Tours in a safe environment to bring friends for a
          lifetime together and support the local community.
        </div>
      </div>

      <!-- end header -->

      <!-- start slide -->
      <div class="homepage__cheersRoom-container">
        <div class="homepage__cheersRoom-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="swiper-slide-container">
                <img
                  src="/homepage/asset/bg.jpg"
                  alt=""
                  class="swiper-slide-img"
                />

                <div class="swiper-slide-content">
                  <div class="room-title">Tripple room</div>
                  <div class="room-subContent">
                    <img src="/homepage/asset/iconRoom.svg" alt="" />
                    <span>Guests:</span>
                    <span>4</span>
                  </div>
                  <div class="room-subContent">
                    <img src="/homepage/asset/iconRoom.svg" alt="" />
                    <span>Highlight:</span>
                    <span>Bed in 6-Bed Dormitory Room</span>
                  </div>
                </div>

                <div class="swiper-slide-price">
                  <div class="swiper-slide-price-bg"></div>

                  <span class="swiper-slide-price-text">$19</span>
                  <img
                    src="/homepage/asset/line.svg"
                    alt=""
                    class="swiper-slide-price-line"
                  />
                  <span class="swiper-slide-price-subtext">night</span>
                </div>

                <div class="swiper-slide-overlay"></div>
              </div>
              <div class="swiper-slide-bookBtn">BOOK NOW</div>
              <div class="swiper-slide-detailBtn">
                <span>Detail</span>
                <img
                  src="/homepage/asset/arrowLeft.svg"
                  alt=""
                  class="arrowPc"
                />

                <img
                  src="/homepage/asset/arrowLeftMb.svg"
                  alt=""
                  class="arrowMb"
                />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-slide-container">
                <img
                  src="/homepage/asset/bg.jpg"
                  alt=""
                  class="swiper-slide-img"
                />

                <div class="swiper-slide-content">
                  <div class="room-title">Tripple room</div>
                  <div class="room-subContent">
                    <img src="/homepage/asset/iconRoom.svg" alt="" />
                    <span>Guests:</span>
                    <span>4</span>
                  </div>
                  <div class="room-subContent">
                    <img src="/homepage/asset/iconRoom.svg" alt="" />
                    <span>Highlight:</span>
                    <span>Bed in 6-Bed Dormitory Room</span>
                  </div>
                </div>

                <div class="swiper-slide-price">
                  <div class="swiper-slide-price-bg"></div>

                  <span class="swiper-slide-price-text">$19</span>
                  <img
                    src="/homepage/asset/line.svg"
                    alt=""
                    class="swiper-slide-price-line"
                  />
                  <span class="swiper-slide-price-subtext">night</span>
                </div>

                <div class="swiper-slide-overlay"></div>
              </div>
              <div class="swiper-slide-bookBtn">BOOK NOW</div>
              <div class="swiper-slide-detailBtn">
                <span>Detail</span>
                <img
                  src="/homepage/asset/arrowLeft.svg"
                  alt=""
                  class="arrowPc"
                />

                <img
                  src="/homepage/asset/arrowLeftMb.svg"
                  alt=""
                  class="arrowMb"
                />
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-slide-container">
                <img
                  src="/homepage/asset/bg.jpg"
                  alt=""
                  class="swiper-slide-img"
                />

                <div class="swiper-slide-content">
                  <div class="room-title">Tripple room</div>
                  <div class="room-subContent">
                    <img src="/homepage/asset/iconRoom.svg" alt="" />
                    <span>Guests:</span>
                    <span>4</span>
                  </div>
                  <div class="room-subContent">
                    <img src="/homepage/asset/iconRoom.svg" alt="" />
                    <span>Highlight:</span>
                    <span>Bed in 6-Bed Dormitory Room</span>
                  </div>
                </div>

                <div class="swiper-slide-price">
                  <div class="swiper-slide-price-bg"></div>

                  <span class="swiper-slide-price-text">$19</span>
                  <img
                    src="/homepage/asset/line.svg"
                    alt=""
                    class="swiper-slide-price-line"
                  />
                  <span class="swiper-slide-price-subtext">night</span>
                </div>

                <div class="swiper-slide-overlay"></div>
              </div>
              <div class="swiper-slide-bookBtn">BOOK NOW</div>
              <div class="swiper-slide-detailBtn">
                <span>Detail</span>
                <img
                  src="/homepage/asset/arrowLeft.svg"
                  alt=""
                  class="arrowPc"
                />

                <img
                  src="/homepage/asset/arrowLeftMb.svg"
                  alt=""
                  class="arrowMb"
                />
              </div>
            </div>
          </div>
          <div class="homepage__cheersRoom-pagination"></div>
        </div>

        <img
          src="/homepage/asset/prev.svg"
          alt=""
          class="homepage__cheersRoom-prev homepage__cheersRoom-swiper-btn"
        />
        <img
          src="/homepage/asset/next.svg"
          alt=""
          class="homepage__cheersRoom-next homepage__cheersRoom-swiper-btn"
        />
      </div>

      <!-- end slide -->

      <a class="homepage__cheersRoom-allBtn" href="/">
        View all Cheers Hostel Hanoi
      </a>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
      let homepageRoomSwiper = new Swiper(".homepage__cheersRoom-swiper", {
        slidesPerView: 1,
        spaceBetween: (window.innerWidth / 100) * 5,
        pagination: {
          el: ".homepage__cheersRoom-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".homepage__cheersRoom-prev",
          prevEl: ".homepage__cheersRoom-next",
        },

        breakpoints: {
          768: {
            slidesPerView: 1.5,
            spaceBetween: (window.innerWidth / 100) * 2,
          },
          1025: {
            slidesPerView: 2,
            spaceBetween: (window.innerWidth / 100) * 1.5,
          },
        },
      });
    </script>
  </body>
</html>
