* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stop-scrolling {
  overflow: hidden;
}

html {
  font-size: 1vw;
}
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 2vw;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 4.267vw;
  }
}

body {
  overflow-x: hidden;
}

.box1 {
  width: 100vw;
  height: 100vh;
  background-color: bisque;
  margin-bottom: 5rem;
}

.homepage__cheers {
  width: 100vw;
  height: 41rem;
  background: #fff;
  z-index: 10;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;

  --transition-time: 2s;
  --img1-w: 65.75356rem;
  --img1-l: 6rem;
  --img1trans: translateX(calc((var(--img1-l) + var(--img1-w)) * -1)) scale(0);
  --img2-w: 68.04219rem;
  --img2-r: -4rem;
  --img2trans: translateX(calc(var(--img2-r) + var(--img2-w))) scale(0);
  --img3-w: 45.75006rem;
  --img3-l: -21rem;
  --img3trans: translateX(calc((var(--img3-l) + var(--img3-w)) * -1)) scale(0)
    rotate(-20deg);
  --img4-w: 28.875rem;
  --img4-r: -10rem;
  --img4trans: translateX(calc(var(--img4-r) + var(--img4-w))) scale(0)
    rotate(20deg);
  --img5-w: 32.95088rem;
  --img5-r: 6rem;
  --img5trans: translateX(calc(var(--img5-r) + var(--img5-w))) scale(0)
    rotate(20deg);
  --img6-w: 32.94794rem;
  --img6-l: 8rem;
  --img6trans: translateX(calc((var(--img6-l) + var(--img6-w)) * -1)) scale(0)
    rotate(-20deg);
  --img7-w: 85.625rem;
  --img7-l: -1rem;
  --img7trans: translateX(calc((var(--img7-l) + var(--img7-w)) * -1)) scale(0);
  --img8-w: 42.1875rem;
  --img8-l: -8rem;
  --img8trans: translateX(calc((var(--img8-l) + var(--img8-w)) * -1)) scale(0)
    rotate(-20deg);
  --img9-w: 8.6915rem;
  --img9-l: 4rem;
  --img9trans: translateX(calc((var(--img9-l) + var(--img9-w)) * -1)) scale(0)
    rotate(-20deg);
  --img10-w: 24.31244rem;
  --img10-l: 16rem;
  --img10trans: translateX(calc((var(--img10-l) + var(--img10-w)) * -1))
    scale(0) rotate(-20deg);
  --img11-w: 20.38031rem;
  --img11-r: 20rem;
  --img11trans: translateX(calc(var(--img11-r) + var(--img11-w))) scale(0)
    rotate(20deg);
  --img12-w: 7.09006rem;
  --img12-r: 33.5rem;
  --img12trans: translateX(calc(var(--img12-r) + var(--img12-w))) scale(0)
    rotate(20deg);
  --img13-w: 41.34075rem;
  --img13-r: -7rem;
  --img13trans: translateX(calc(var(--img13-r) + var(--img13-w))) scale(0)
    rotate(20deg);
  --img14-w: 72.24219rem;
  --img14-r: -8.5rem;
  --img14trans: translateX(calc(var(--img14-r) + var(--img14-w))) scale(0);
}

.homepage__cheers-overlay {
  width: 100%;
  height: 27.0625rem;
  position: absolute;
  bottom: 6.5rem;
  left: 0;
  z-index: 10;
}
.homepage__cheers-overlay2 {
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
}

.homepage__cheers-sun {
  width: 20.125rem;
  height: 20.125rem;
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: all 1s ease 1s;
  z-index: 0;
  opacity: 0;
}
.homepage__cheers-active .homepage__cheers-sun {
  transform: translate(-50%, 0);
  z-index: 1;
  opacity: 2;
}
.homepage__cheers-sun-shadow {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  background: #ff6b00;
  filter: blur(46.04999923706055px);
}

.homepage__cheers-sun-text {
  width: 16.8rem;
  height: 16.8rem;
  position: absolute;
  top: calc((20.125rem - 16.8rem) / 2);
  left: calc((20.125rem - 16.8rem) / 2);

  z-index: 1;
  animation: spin 15s linear infinite;
}

.homepage__cheers-sun-logo {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.homepage__cheers-sun-logo-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 4px solid #ffe381;
  border-right: 4px solid #ffe381;
  transform: rotate(-45deg);
  border-radius: 50%;
}

.homepage__cheers-sun-logo img {
  width: 8.48013rem;
  height: 7.39769rem;
  object-fit: contain;
}

@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes moveup {
  100% {
    transform: translateY(0);
  }
}

/* css img */

.homepage__cheers-step1,
.homepage__cheers-step2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.homepage__cheers-step1 img,
.homepage__cheers-step2 img {
  position: absolute;
  object-fit: cover;
}

.cheer-img1 {
  width: var(--img1-w);
  height: 15.60331rem;
  top: 18rem;
  left: var(--img1-l);
  z-index: 9;
  transform: var(--img1trans);
}

.cheer-img2 {
  width: var(--img2-w);
  height: 18.35606rem;
  top: 15rem;
  right: var(--img2-r);
  z-index: 10;
  transform: var(--img2trans);
}

.cheer-img3 {
  width: var(--img3-w);
  height: 25.84931rem;
  top: 12rem;
  left: var(--img3-l);
  z-index: 20;
  transform: var(--img3trans);
}

.cheer-img4 {
  width: var(--img4-w);
  height: 37.375rem;
  top: 2rem;
  right: var(--img4-r);
  z-index: 20;
  transform: var(--img4trans);
}

.cheer-img5 {
  width: var(--img5-w);
  height: 21.98994rem;
  bottom: 2rem;
  right: var(--img5-r);
  z-index: 25;
  transform: var(--img5trans);
}

.cheer-img6 {
  width: var(--img6-w);
  height: 17.70338rem;
  transform: rotate(4.774deg);
  bottom: 2rem;
  left: var(--img6-l);
  z-index: 25;
  transform: var(--img6trans);
}

.cheer-img7 {
  width: var(--img7-w);
  height: 24rem;
  bottom: 7rem;
  left: var(--img7-l);
  object-fit: cover;
  z-index: 10;
  transform: var(--img7trans);
}

.cheer-img8 {
  width: var(--img8-w);
  height: 28.49381rem;
  bottom: 0;
  left: var(--img8-l);
  z-index: 21;
  transform: var(--img8trans);
}

.cheer-img9 {
  width: var(--img9-w);
  height: 9.48738rem;
  bottom: 17.49381rem;
  left: var(--img9-l);
  z-index: 20;
  transform: var(--img9trans);
}

.cheer-img10 {
  width: var(--img10-w);
  height: 14.67438rem;
  bottom: 5rem;
  left: var(--img10-l);
  z-index: 22;
  transform: var(--img10trans);
}

.cheer-img11 {
  width: var(--img11-w);
  height: 13.58575rem;
  right: var(--img11-r);
  bottom: 4rem;
  z-index: 21;
  transform: var(--img11trans);
}

.cheer-img12 {
  width: var(--img12-w);
  height: 9.125rem;
  right: var(--img12-r);
  bottom: 5rem;
  z-index: 19;
  transform: var(--img12trans);
}

.cheer-img13 {
  width: var(--img13-w);
  height: 27.61569rem;
  bottom: 3rem;
  right: var(--img13-r);
  z-index: 20;
  transform: var(--img13trans);
}

.cheer-img14 {
  width: var(--img14-w);
  height: 41.76913rem;
  bottom: 7.65rem;
  right: var(--img14-r);
  z-index: 10;
  transform: var(--img14trans);
}
.homepage__cheers-step1 img,
.homepage__cheers-step2 img {
  transition: all 2s ease;
}
.homepage__cheers-active .homepage__cheers-step2 img {
  transform: translateX(0) scale(1) rotate(0);
}

.homepage__cheers-active-2 .homepage__cheers-step1 img {
  transform: translateX(0) scale(1) rotate(0);
}

.homepage__cheers-active-2 .homepage__cheers-step2 .cheer-img7 {
  transform: var(--img7trans);
}

.homepage__cheers-active-2 .homepage__cheers-step2 .cheer-img8 {
  transform: var(--img8trans);
}

.homepage__cheers-active-2 .homepage__cheers-step2 .cheer-img9 {
  transform: var(--img9trans);
}

.homepage__cheers-active-2 .homepage__cheers-step2 .cheer-img10 {
  transform: var(--img10trans);
}

.homepage__cheers-active-2 .homepage__cheers-step2 .cheer-img11 {
  transform: var(--img11trans);
}
.homepage__cheers-active-2 .homepage__cheers-step2 .cheer-img12 {
  transform: var(--img12trans);
}

.homepage__cheers-active-2 .homepage__cheers-step2 .cheer-img13 {
  transform: var(--img13trans);
}
.homepage__cheers-active-2 .homepage__cheers-step2 .cheer-img14 {
  transform: var(--img14trans);
}
/* autoplay */

.homepage__cheers-active-auto .homepage__cheers-step1 img,
.homepage__cheers-active-auto .homepage__cheers-step2 img {
  animation-duration: calc(var(--transition-time) * 6) !important;
  animation-timing-function: ease !important;
  animation-iteration-count: infinite !important;
}

.homepage__cheers-active-auto .homepage__cheers-step1 .cheer-img1 {
  animation: imgAuto1;
}

.homepage__cheers-active-auto .homepage__cheers-step1 .cheer-img2 {
  animation: imgAuto2;
}

.homepage__cheers-active-auto .homepage__cheers-step1 .cheer-img3 {
  animation: imgAuto3;
}
.homepage__cheers-active-auto .homepage__cheers-step1 .cheer-img4 {
  animation: imgAuto4;
}
.homepage__cheers-active-auto .homepage__cheers-step1 .cheer-img5 {
  animation: imgAuto5;
}

.homepage__cheers-active-auto .homepage__cheers-step1 .cheer-img6 {
  animation: imgAuto6;
}

.homepage__cheers-active-auto .homepage__cheers-step2 .cheer-img7 {
  animation: imgAuto7;
}

.homepage__cheers-active-auto .homepage__cheers-step2 .cheer-img8 {
  animation: imgAuto8;
}
.homepage__cheers-active-auto .homepage__cheers-step2 .cheer-img9 {
  animation: imgAuto9;
}
.homepage__cheers-active-auto .homepage__cheers-step2 .cheer-img10 {
  animation: imgAuto10;
}

.homepage__cheers-active-auto .homepage__cheers-step2 .cheer-img11 {
  animation: imgAuto11;
}
.homepage__cheers-active-auto .homepage__cheers-step2 .cheer-img12 {
  animation: imgAuto12;
}
.homepage__cheers-active-auto .homepage__cheers-step2 .cheer-img13 {
  animation: imgAuto13;
}
.homepage__cheers-active-auto .homepage__cheers-step2 .cheer-img14 {
  animation: imgAuto14;
}
@keyframes imgAuto1 {
  0% {
    transform: translate(0) scale(1) rotate(0);
  }

  60% {
    transform: var(--img1trans);
  }

  80% {
    transform: translate(0) scale(1) rotate(0);
  }
}

@keyframes imgAuto2 {
  0% {
    transform: translate(0) scale(1) rotate(0);
  }

  60% {
    transform: var(--img2trans);
  }
  80% {
    transform: translate(0) scale(1) rotate(0);
  }
}

@keyframes imgAuto3 {
  0% {
    transform: translate(0) scale(1) rotate(0);
  }

  60% {
    transform: var(--img3trans);
  }
  80% {
    transform: translate(0) scale(1) rotate(0);
  }
}

@keyframes imgAuto4 {
  0% {
    transform: translate(0) scale(1) rotate(0);
  }

  60% {
    transform: var(--img4trans);
  }
  80% {
    transform: translate(0) scale(1) rotate(0);
  }
}

@keyframes imgAuto5 {
  0% {
    transform: translate(0) scale(1) rotate(0);
  }
  60% {
    transform: var(--img5trans);
  }
  80% {
    transform: translate(0) scale(1) rotate(0);
  }
}

@keyframes imgAuto6 {
  0% {
    transform: translate(0) scale(1) rotate(0);
  }
  60% {
    transform: var(--img6trans);
  }
  80% {
    transform: translate(0) scale(1) rotate(0);
  }
}

@keyframes imgAuto7 {
  0% {
    transform: var(--img7trans);
  }
  30% {
    transform: translate(0) scale(1) rotate(0);
  }
  60% {
    transform: translate(0) scale(1) rotate(0);
  }
  100% {
    transform: var(--img7trans);
  }
}

@keyframes imgAuto8 {
  0% {
    transform: var(--img8trans);
  }
  30% {
    transform: translate(0) scale(1) rotate(0);
  }
  60% {
    transform: translate(0) scale(1) rotate(0);
  }
  100% {
    transform: var(--img8trans);
  }
}

@keyframes imgAuto9 {
  0% {
    transform: var(--img9trans);
  }
  30% {
    transform: translate(0) scale(1) rotate(0);
  }
  60% {
    transform: translate(0) scale(1) rotate(0);
  }
  100% {
    transform: var(--img9trans);
  }
}
@keyframes imgAuto10 {
  0% {
    transform: var(--img10trans);
  }
  30% {
    transform: translate(0) scale(1) rotate(0);
  }
  60% {
    transform: translate(0) scale(1) rotate(0);
  }
  100% {
    transform: var(--img10trans);
  }
}
@keyframes imgAuto11 {
  0% {
    transform: var(--img11trans);
  }
  30% {
    transform: translate(0) scale(1) rotate(0);
  }
  60% {
    transform: translate(0) scale(1) rotate(0);
  }
  100% {
    transform: var(--img11trans);
  }
}
@keyframes imgAuto12 {
  0% {
    transform: var(--img12trans);
  }
  30% {
    transform: translate(0) scale(1) rotate(0);
  }
  60% {
    transform: translate(0) scale(1) rotate(0);
  }
  100% {
    transform: var(--img12trans);
  }
}
@keyframes imgAuto13 {
  0% {
    transform: var(--img13trans);
  }
  30% {
    transform: translate(0) scale(1) rotate(0);
  }
  60% {
    transform: translate(0) scale(1) rotate(0);
  }
  100% {
    transform: var(--img13trans);
  }
}
@keyframes imgAuto14 {
  0% {
    transform: var(--img14trans);
  }
  30% {
    transform: translate(0) scale(1) rotate(0);
  }
  60% {
    transform: translate(0) scale(1) rotate(0);
  }
  100% {
    transform: var(--img14trans);
  }
}

@media (max-width: 767px) {
  .homepage__cheers {
    --img1-w: 15.49113rem;
    --img1-l: 1rem;
    --img2-w: 15.94738rem;
    --img2-r: -1rem;
    --img3-w: 10.72269rem;
    --img3-l: -5rem;
    --img4-w: 8.4665rem;
    --img4-r: -4rem;
    --img5-w: 7.72288rem;
    --img5-r: 0.75rem;

    --img6-w: 7.72219rem;
    --img6-l: 1.3rem;

    --img7-w: 20.06838rem;
    --img7-l: -1.5rem;

    --img8-w: 9.88769rem;
    --img8-l: -2rem;

    --img9-w: 2.03713rem;
    --img9-l: 1rem;

    --img10-w: 5.69825rem;
    --img10-l: 3.75rem;

    --img11-w: 4.77663rem;
    --img11-r: 8rem;

    --img12-w: 1.66175rem;
    --img12-r: 11.2rem;

    --img13-w: 9.49825rem;
    --img13-r: 0.5rem;

    --img14-w: 16.56231rem;
    --img14-r: -2rem;

    height: 13.125rem;
  }

  .homepage__cheers-sun {
    width: 8.55956rem;
    height: 8.55956rem;
    top: 2.5rem;
  }
  .homepage__cheers-active .homepage__cheers-sun {
    transform: translate(-50%, 0);
    z-index: 1;
    opacity: 2;
  }
  .homepage__cheers-sun-text {
    width: 7.13938rem;
    height: 7.13938rem;
    top: calc((8.55956rem - 7.13938rem) / 2);
    left: calc((8.55956rem - 7.13938rem) / 2);
  }

  .homepage__cheers-sun-logo {
    width: 5.74181rem;
    height: 5.74181rem;
  }

  .homepage__cheers-sun-logo img {
    width: 3.60675rem;
    height: 3.14638rem;
  }

  .homepage__cheers-sun-shadow {
    filter: blur(19.58599853515625px);
  }
  .homepage__cheers-overlay {
    height: 100%;
    bottom: 1rem;
  }

  .homepage__cheers-overlay2 {
    height: 16%;
  }

  .cheer-img1 {
    height: 3.77931rem;
    top: auto;
    bottom: 1.5rem;
  }

  .cheer-img2 {
    top: auto;
    bottom: 1.5rem;
    height: 4.30219rem;
  }
  .cheer-img3 {
    top: auto;
    bottom: 1rem;
    height: 6.05844rem;
  }

  .cheer-img4 {
    top: auto;
    bottom: 0.5rem;
    height: 9.68556rem;
  }
  .cheer-img5 {
    top: auto;
    bottom: 0.5rem;
    height: 5.1539rem;
  }
  .cheer-img6 {
    top: auto;
    bottom: 0.5rem;
    height: 4.14925rem;
  }

  .cheer-img7 {
    height: 5.214rem;
    bottom: 2rem;
    top: auto;
  }
  .cheer-img8 {
    height: 6.57881rem;
    bottom: 0rem;
  }
  .cheer-img9 {
    top: auto;
    bottom: 4rem;
    height: 2.22388rem;
  }
  .cheer-img10 {
    top: auto;
    bottom: 1rem;
    height: 3.43931rem;
  }
  .cheer-img11 {
    height: 3.18413rem;
    top: auto;
    bottom: 0.5rem;
  }

  .cheer-img12 {
    height: 2.13869rem;
    bottom: 0.75rem;
  }

  .cheer-img13 {
    height: 6.256rem;
    bottom: 0rem;
  }
  .cheer-img14 {
    top: auto;
    bottom: 1.5rem;
    height: 9.57413rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .homepage__cheers {
    --img1-w: 30.49113rem;
    --img1-l: -5rem;
    --img2-w: 27.94738rem;
    --img2-r: -2rem;
    --img3-w: 15.72269rem;
    --img3-l: -8rem;
    --img4-w: 15.4665rem;
    --img4-r: -5rem;
    --img5-w: 11.72288rem;
    --img5-r: 4.5rem;

    --img6-w: 10.72219rem;
    --img6-l: 1.3rem;

    --img7-w: 37.06838rem;
    --img7-l: 0rem;

    --img8-w: 14.88769rem;
    --img8-l: -2rem;

    --img9-w: 4.03713rem;
    --img9-l: 1.5rem;

    --img10-w: 8.69825rem;
    --img10-l: 6.75rem;

    --img11-w: 6.77663rem;
    --img11-r: 13.5rem;

    --img12-w: 3.66175rem;
    --img12-r: 18.5rem;

    --img13-w: 14.49825rem;
    --img13-r: 0.5rem;

    --img14-w: 37.06838rem;
    --img14-r: -11rem;

    height: 18.125rem;
  }

  .homepage__cheers-sun {
    width: 14.55956rem;
    height: 14.55956rem;
    top: 2rem;
  }
  .homepage__cheers-active .homepage__cheers-sun {
    transform: translate(-50%, 0);
    z-index: 1;
    opacity: 2;
  }
  .homepage__cheers-sun-text {
    width: 12rem;
    height: 12rem;
    top: calc((14.55956rem - 12rem) / 2);
    left: calc((14.55956rem - 12rem) / 2);
  }

  .homepage__cheers-sun-logo {
    width: 9rem;
    height: 9rem;
  }

  .homepage__cheers-sun-logo img {
    width: 6.60675rem;
    height: 6.14638rem;
  }

  .homepage__cheers-sun-shadow {
    filter: blur(14.58599853515625px);
  }
  .homepage__cheers-overlay {
    height: 100%;
    bottom: 1rem;
  }

  .homepage__cheers-overlay2 {
    height: 15%;
  }

  .cheer-img1 {
    height: 8.77931rem;
    top: auto;
    bottom: 1.5rem;
  }

  .cheer-img2 {
    top: auto;
    bottom: 1.5rem;
    height: 10rem;
  }
  .cheer-img3 {
    top: auto;
    bottom: 1rem;
    height: 10.05844rem;
  }

  .cheer-img4 {
    top: auto;
    bottom: 1rem;
    height: 12.68556rem;
  }
  .cheer-img5 {
    top: auto;
    bottom: 1rem;
    height: 7.1539rem;
  }
  .cheer-img6 {
    top: auto;
    bottom: 0.5rem;
    height: 6.14925rem;
  }

  .cheer-img7 {
    height: 11.214rem;
    bottom: 1.5rem;
    top: auto;
  }
  .cheer-img8 {
    height: 9.57881rem;
    bottom: 0rem;
  }
  .cheer-img9 {
    top: auto;
    bottom: 5.5rem;
    height: 4.22388rem;
  }
  .cheer-img10 {
    top: auto;
    bottom: 1rem;
    height: 6.43931rem;
  }
  .cheer-img11 {
    height: 6.18413rem;
    top: auto;
    bottom: 0rem;
  }

  .cheer-img12 {
    height: 4.13869rem;
    bottom: 0.5rem;
  }

  .cheer-img13 {
    height: 9.256rem;
    bottom: 0;
  }
  .cheer-img14 {
    top: auto;
    bottom: 1.5rem;
    height: 22.57413rem;
  }
}
